 <form ngNoForm >

  <header>

    <h2>Authentification</h2>
  </header>
  <div class="group">
  
    <input type="text" />
    
    <span class="highlight"></span><span class="bar"></span>
    
    <br/>
  
   
          <label >Login</label>
  </div>

  <div class="group">
    
    <input type="password"  />
   
   <br/>
    
       
    <label>Mot de passe</label>
    </div>
 

  <button type="button"  class="button buttonBlue" (click)="login()">se connecter
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>

    <button type="button"  class="button buttonBlue" (click)="register()">Register
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <footer>
  
  </footer>

</form>